/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2022年11月29日, 上午10:57:15
    Author     : carrie
*/

* {
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 16rem;
    max-width: 28rem;
    background-color: #99c29d;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Yellowtail', cursive;
    color: white;
    font-size: 2.5rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
    position: relative;

}

.title::before {
    content: '';
    position: absolute;
    background-color: white;
    width: 90%;
    height: 0.05rem;
    bottom: -0.5rem;
}



.todo-list {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 2rem;
    height: 18rem;
    overflow-y: scroll;
    font-size: 1.2rem;
    gap: 0.8rem;
    margin-top: 0.5rem;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.edit-input {
    border-radius: 5px;
    padding: 0 0.5rem;
    box-sizing: border-box;
    font-size: 1.1rem;
}

.todo-item > form {
    width: auto;
}



.item {
    display: flex;
    justify-content: start;
    color: white;
    width: 60%;
    overflow-x: scroll;
}

.item-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.item-buttons > button, .todo-item > button {
    width: auto;
    width: 3rem;
    height: 1.8rem;
    background: transparent;
    cursor: pointer;
}

.item-btn, .todo-item > button {
    color: white;
    font-size: 1.5rem;
}

.item-buttons > button:hover, .todo-item > button:hover {
    opacity: 0.5;
}

.todo-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 2rem 0;
    margin-top: 1rem;
    background-color: #e6ede7;
    border-radius: 0 0 1rem 1rem;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86%;
    height: 2rem;
}

form > input {
    border-bottom: 0.15rem solid #99c29d;
    width: 88%;
}

form > button {
    background-color: #99c29d;
    color: white;
    border-radius: 0.5rem 0.5rem 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
    width: 12%;
    min-width: 2rem;
}

form > button:not(:disabled):hover {
    opacity: 0.6;
    cursor: pointer;
}

form > button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

input {
    background-color: #e6ede7;
    border: transparent;
    height: 100%;
    box-sizing: border-box;
    line-height: 1.8rem;
}

input:focus {
    outline: none;
}

button {
    box-sizing: border-box;
    height: 100%;
    border: transparent;
}

.hidden {
    display: none;
}